@import "variables";

.date {
  position: relative;
  width: 135px;
}

.hidden {
  opacity: 0;
  transform: translateY(-230px) scale(0);
}

.showButton {
  position: absolute;
  z-index: 1001;
  right: 8px;
  top: 59%;
  border: none;
  background-color: $color-show-date;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-show-date, 10%);
    transform: translateY(2px);
  }
}

.month {
  grid-column-start: 1;
  grid-column-end: 8;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-month;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.monthBtn {
  background-color: #fff;
  padding: 1rem;
  margin: 0 1.6rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  margin: 3px;

  &:hover {
    border-radius: 10px;
    background-color: $color-hover-month;
    cursor: pointer;
  }
}

.day {
  padding: 1rem;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #fff;
  border: none;
  width: 4rem;
  height: 4rem;

  &:hover {
    background-color: $color-hover-date;
    border-radius: 500px;
    cursor: pointer;
  }
}

.selected {
  background-color: $color-selected-date;
  border-radius: 500px;
}

.outbox {
  padding: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 1000;
  width: 400px;
  height: 370px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 7px 7px 12px rgba(#000, 0.1);
  transition: 0.2s;
}

.canvas {
  width: 340px;
  overflow: hidden;
}

.container {
  position: absolute;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(7, 1fr);
  width: 320px;
  height: 370px;
}

.week {
  text-align: center;
  font-weight: bold;
  height: 1rem;
}

.mainContainer {
  position: relative;
  z-index: 1001;
}
