$color-black: #000;
$color-dark-grey: #333;
$color-white: #fff;
$color-primary: rgb(252, 180, 113);
$color-show-date: rgb(28, 156, 135);
$color-month: cadetblue;
$color-hover-month: rgb(212, 227, 255);
$color-hover-date: cornflowerblue;
$color-selected-date: rgb(177, 204, 255);
